{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>

    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
</head>
<body id="lo">
	<div class="container">
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" >
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<h1 class="tm-site-title">LS Bank</h1>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="/admin" class="tm-nav-link active">Admin</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to LS Bank</h2>
				<p class="col-12 text-center">Sparks Foundation Internship Program - Basic Banking System</p>
			</header>

			<div class="tm-paging-links">
				<nav>
<center>
						<form action="view">
    						<div class="form-group">
    				<input type="submit" class="tm-paging-link active" value="Customers">
    						</div>
						</form>
						<form action="transactions">
    <div class="form-group">
    <input type="submit" class="tm-paging-link " value="view Transactions">
        </div>
				</form>
					</center>
				</nav>
			</div>
		</main>

		<footer class="text-center">
			<p>Copyright &copy; 2021 Lohit</p>
		</footer>
	</div>
</body>
</html>