<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Transactions</title>
</head>
<body style="background-color:pink">

<center>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>sno</th>
        <th>Sender Name</th>
        <th>Receiver Name</th>
        <th>Sent Amount</th>
        <th>Sender Current Balance</th>
    </tr>
    </thead>
     {% for x in transact %}
    <tbody class="table-secondary">
  <tr>

    <td>{{x.id}}</td>
    <td> {{x.senname}} </td>
    <td>{{x.recname}}</td>
    <td>{{x.senamt}} </td>
    <td>{{x.curbal}} </td>

  </tr>

  {% endfor %}
    </tbody>
    </table>
    <form action="/" method="post">
    {% csrf_token %}
<input type="submit" class="btn btn-primary" value="Home" >
</form>

</center>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>